<app-home-nav></app-home-nav>
<div class="container">
  <div class="form-container">
    <p> Sign in </p>
    <form>
      <fieldset>
        <input type="text" placeholder="Username or Email">
        <input type="password" placeholder="password">
      </fieldset>
      <fieldset class="actions">
        <input type="submit" class="primary" value="Sign In">
        <a routerLink="/"> Not registered? Create an account! </a>
      </fieldset>
    </form>
  </div>
</div> 

<app-footer></app-footer>
