$soft-gray: #999999;
$link-color: #517a9e;

.footer-container{
  width: 100%;
  background-color: #fafafa;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sub-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    .flex-container{
      text-align: center;
      padding: 0;
      margin: 0;

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      ul{
        margin: 0 auto;
        li{
          list-style-type: none;
          margin: 5px 0;
          a{
            color: $link-color;
            text-decoration: none;

            &:hover{
              text-decoration: underline;
              color: darken($link-color, 5%);
            }
          }
        }
      }
    }
  }
}
