<app-home-nav></app-home-nav>
<div class="container">
  <div class="form-container">
    <p> Registration </p>
    <form>
      <fieldset>
        <label> Username </label>
        <input type="text" placeholder="Alberta">

        <label> Email </label>
        <input type="text" placeholder="alberta@ufl.edu">

        <label> Password </label>
        <input type="password">

        <label> Password Confirmation</label>
        <input type="password">

        <label> Phone Number </label>
        <input type="text" placeholder="352-1111-111"> 
      </fieldset>

      <fieldset class="actions">
        <input type="submit" class="primary" value="Sign Up">
      </fieldset>
    </form>
  </div>
</div> 
